/*将标签默认间距设置为0*/
body,ul,p,h1,h2,h3,h4,h5,h6,dl,dd,input,select,form{
    margin: 0;padding: 0;
}
/*让h标签继承body内设置的字体大小*/
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    color:red;
}

/*去掉默认的小圆点*/
ul{
    list-style-type: none;
}
/*取消倾斜*/
em{
    font-style:normal;
}
a{
    text-decoration:none;
}
/*去掉ie下 图片做链接时产生的边框*/
img{
    border:none;
}

.clearfix:before,.clearfix:after{
    content:"";
    display: table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    zoom:1;
}

.fl{
    float:left;
}

.fr{
    float:right;
}
